In [13]:
import sqlalchemy as sa
from sqlalchemy import text
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd

engine = sa.create_engine("mysql+pymysql://root:8098388128%40Murali@localhost:3306/Tourism")

In [ ]:
def Exec_query(query):
    try:
        with engine.connect() as con:
            con.execute(text(query))
            con.commit()
        print(f"Executed successfully: {query.split()[2]}")  # Logs the table name
    except SQLAlchemyError as e:
        print(f"Error executing query: {e}")

In [11]:
query_list= ["""
CREATE TABLE IF NOT EXISTS joined_1 AS
SELECT t.TransactionId, t.UserId, t.VisitYear, t.VisitMonth, t.VisitMode, t.AttractionId, t.Rating,
u.ContinentId, u.RegionId, u.CountryId, u.CityId
FROM `transaction` t
INNER JOIN `user` u ON t.UserId = u.UserId;
""",
"""
CREATE TABLE IF NOT EXISTS joined_2 AS
SELECT j1.*, c.Continent
FROM joined_1 j1
INNER JOIN continent c ON j1.ContinentId = c.ContinentId;
""",
"""
CREATE TABLE IF NOT EXISTS joined_3 AS
SELECT j2.*, r.Region
FROM joined_2 j2
INNER JOIN region r ON j2.RegionId = r.RegionId;
""",
"""
CREATE TABLE IF NOT EXISTS joined_4 AS
SELECT j3.*, co.Country
FROM joined_3 j3
INNER JOIN country co ON j3.CountryId = co.CountryId;
""",
"""
CREATE TABLE IF NOT EXISTS joined_5 AS
SELECT j4.*, ci.CityName
FROM joined_4 j4
INNER JOIN city ci ON j4.CityId = ci.CityId;
""",
"""
CREATE TABLE IF NOT EXISTS joined_6 AS
SELECT j5.*, it.Attraction, it.AttractionAddress, it.AttractionTypeId
FROM joined_5 j5
INNER JOIN item it ON j5.AttractionId = it.AttractionId;
""",
"""
CREATE TABLE IF NOT EXISTS joined_7 AS
SELECT j6.*, t.AttractionType
FROM joined_6 j6
INNER JOIN `type` t ON j6.AttractionTypeId = t.AttractionTypeId;
""",
"""
CREATE TABLE IF NOT EXISTS final_table AS
SELECT j7.*, m.VisitMode AS VisitModeName
FROM joined_7 j7
INNER JOIN `mode` m ON j7.VisitMode = m.VisitModeId;
"""]

In [ ]:
for query in query_list:
    Exec_query(query)

Executed successfully: IF
Executed successfully: IF
Executed successfully: IF
Executed successfully: IF
Executed successfully: IF
Executed successfully: IF
Executed successfully: IF
Executed successfully: IF

In [14]:
query_final = "SELECT * FROM final_table;"
with engine.connect() as con:
        result = con.execute(text(query_final))
        data = result.fetchall()
df_final=pd.DataFrame(data)
df_final.to_excel(r"C:\Users\Admin\Downloads\tourism\Final_table.xlsx", index=False)