In [14]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy_utils import database_exists, create_database


# ðŸ”¹ Function to Load Excel Data into MySQL
def load_excel_to_mysql(file_path,table_name):
    # Step 1: Load Excel File
    df = pd.read_excel(file_path)

    # Step 2: Clean Data (Remove Null Values)
    df = df.dropna()

 
    engine = sa.create_engine("mysql+pymysql://root:8098388128%40Murali@localhost:3306/Tourism")
    if not database_exists(engine.url):
       create_database(engine.url)

    if table_name=="Item_U":
        int_columns = ["AttractionId", "AttractionCityId", "AttractionTypeId"]
        df[int_columns] = df[int_columns].apply(pd.to_numeric, errors="coerce")


        query = sa.text("INSERT INTO Item (AttractionId, AttractionCityId, AttractionTypeId, Attraction, AttractionAddress) VALUES (%s, %s, %s, %s, %s)")
        list_of_tuples = [tuple(row) for row in df.itertuples(index=False)]

        with engine.connect() as con:
            con.execute(query, list_of_tuples)
    else:

        df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')
    


    
    
    print(f"âœ… Data from {file_path} inserted successfully!")

# ðŸ”¹ Load Multiple Files
files_path = [
    # Continent Table
    (r"C:\Users\Admin\Downloads\tourism\Continent.xlsx","Continent"),
         
    
    # Region Table
    (r"C:\Users\Admin\Downloads\tourism\Region.xlsx","Region"),
    
    
    # Country Table
    (r"C:\Users\Admin\Downloads\tourism\Country.xlsx","Country"),
    
    
    # City Table
    (r"C:\Users\Admin\Downloads\tourism\City.xlsx","City"),
    
    
    # AttractionType Table
    (r"C:\Users\Admin\Downloads\tourism\Type.xlsx","Type"),
    
    # Item Table
    (r"C:\Users\Admin\Downloads\tourism\Item_U.xlsx","Item"),
    


    # VisitMode Table
    (r"C:\Users\Admin\Downloads\tourism\Mode.xlsx","Mode"),
    

    # User Table
    (r"C:\Users\Admin\Downloads\tourism\User.xlsx","User"),
    
    
    # Transaction Table
    (r"C:\Users\Admin\Downloads\tourism\Transaction.xlsx","Transaction")
    
]

file_path1 = r"C:\Users\Admin\Downloads\tourism\Item.xlsx"
file_path2 = r"C:\Users\Admin\Downloads\tourism\Updated_Item.xlsx"

df1 = pd.read_excel(file_path1)  # Read first Excel file
df2 = pd.read_excel(file_path2)  # Read second Excel file

dfi=pd.concat([df1,df2])

dfi.to_excel(r"C:\Users\Admin\Downloads\tourism\Item_U.xlsx", index=False)

# ðŸ”¹ Loop through files and load data
for file_path,table_name in files_path:
    load_excel_to_mysql(file_path,table_name)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'Continent' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')
C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'Region' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')

âœ… Data from C:\Users\Admin\Downloads\tourism\Continent.xlsx inserted successfully!
âœ… Data from C:\Users\Admin\Downloads\tourism\Region.xlsx inserted successfully!

C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'Country' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')

âœ… Data from C:\Users\Admin\Downloads\tourism\Country.xlsx inserted successfully!

C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'City' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')
C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'Type' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')

âœ… Data from C:\Users\Admin\Downloads\tourism\City.xlsx inserted successfully!
âœ… Data from C:\Users\Admin\Downloads\tourism\Type.xlsx inserted successfully!

C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'Item' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')
C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'Mode' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')

âœ… Data from C:\Users\Admin\Downloads\tourism\Item_U.xlsx inserted successfully!
âœ… Data from C:\Users\Admin\Downloads\tourism\Mode.xlsx inserted successfully!

C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'User' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')

âœ… Data from C:\Users\Admin\Downloads\tourism\User.xlsx inserted successfully!
âœ… Data from C:\Users\Admin\Downloads\tourism\Transaction.xlsx inserted successfully!

C:\Users\Admin\AppData\Local\Temp\ipykernel_17224\572644828.py:31: UserWarning: The provided table name 'Transaction' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name= table_name,con=engine,index=False,if_exists='fail')